@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Work Sans", sans-serif;

}

/* Shared styels ---------------------------------------- */
.display-flex{
  display: flex;
}

/* dark-02 */
.text-gray{
  color: rgb(66, 66, 66);
}

/* dark-03 */
.text-light-gray{
  color: rgb(114, 114, 114);
}

.bg-light{
  background-color:rgba(255, 144, 14, 0.1);
}

.btn-primary{
  color: white;
  font-size: 1.3rem;
  padding: 20px 24px;
  background-color: rgb(255, 144, 14);
  border: none;
  border-radius: 10px;
}

.color-orange{
  color: rgb(255, 144, 14);
}

main > section{
  margin-top: 130px ;
}

/* section{
  margin: 150px 0;
} */





.navbar{
  justify-content: space-between;
  align-items: center;
}

.brand{
  font-size: 2.8rem;
  font-weight: 700;
}
.nav-item{
  list-style: none;
  margin-right: 20px;
}

.nav-link{
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

.navbar,.banner{
  max-width: 1440px;
  margin: 0 auto;
}


/* banner related styles  */

.banner-content{
  max-width: 850px;
  margin: 30px auto;
  text-align: center;
}

.banner-title{
  font-size: 4rem;
  font-weight: 700;
}

.banner-img{
  width: 100%;
}

/* Main section styles  */
main{
  max-width: 1440px;
  margin: 0 auto;
}

.team{
  align-items: center;
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}

.features{
  max-width: 530px;
  margin-left: 120px;
}

.feature-title{
  font-weight: 700;
  font-size: 2.8rem;
}

#quick-list{
  font-weight: 500;
}

.features1-des{
  max-width: 552px;
}





/* Responsive Layout styles  */

@media screen and (max-width:576px) {
  .navbar,.nav-links,.team{
    flex-direction: column;
  }

  /* .banner-img{
    max-width: 100%;
  } */

  .team-img-container{
    grid-template-columns: repeat(1,1fr);
  }
  .features{
    max-width: 400px;
    margin-left: 10px;
  }
}

.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-bottom: 150px;
  
}


.fact{
  border: 1px solid orange;
  width: 240px;
  height: 240px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}


/* medium size devies  */

@media screen and (min-width:577px) and (max-width:992px) {
  .team{
    flex-direction: column;
  }
}